*{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section1{
    height: 950px;
    width: 1480px;
}

.header1{
    background-color: lightgreen;
    margin-top: -2%;
    padding: 5px;
    height: 250px;
}

.payOption{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 55px;
    margin-top: 5%;
}

.pleaseOption{
    text-align: center;
    margin-top: 3%;
}

.section1{
    display: inline-flex;
}

.divCash{
    border: 2px solid rgb(192, 192, 192);
    border-radius: 50px 50px;
    margin: 20;
    position: relative;
    top: 25px;
    height: 850px;
    width: 650px;
}

.payCash{
    margin-left: 5%;
    margin-top: 5%;
    font-size: 35px;
    text-decoration: underline;
}

.cashSection{
    margin-left: 5%;
    line-height: 2;
    margin-top: 3%;
}

.name1{
    margin-left: 5%;
    margin-top: 10%;
}

.firstName1{
   font-size: 25px; 
   float: left;
   outline: none;
}

.lastName1{
    font-size: 25px;
    outline: none;
}

.gender{
    font-size: 25px;
    margin-top: 15%;
    margin-left: 5%;
}

.button1{
    font-size: 40px;
    border: 1px solid blue;
    border-radius: 100px 100px;
    padding: 20px 40px;
    background-color: blue;
    color: white;
    margin: 0% 0% 0% 32%;
    position: relative;
    top: 150px;
    transition: 0.3s;
}

.button1:link{
    text-decoration: none;
}

.form1{
    line-height: 2;
    font-size: 20px;
    margin-left: 10%;
}

.male1{
    margin-top: 6%;
}

.female1{
    margin-left: 10%;
}

.divCard{
    border: 2px solid rgb(192, 192, 192);
    border-radius: 50px 50px;
    margin: 20;
    position: relative;
    top: 25px;
    height: 850px;
    width: 800px;
}

.payCard{
    margin-left: 5%;
    margin-top: 5%;
    font-size: 35px;
    text-decoration: underline;
}

.visaImg{
    width: 15%;
    height: auto;
    margin-top: 5%;
    margin-left: 8%;
}

.mcImg{
    width: 15%;
    height: auto;
    margin-top: 5%;
    margin-left: 8%;
}

.amEx{
    width: 15%;
    height: auto;
    margin-top: 5%;
    margin-left: 8%;
}

.form2{
    margin-left: 8%;
    margin-top: 15%;
    position: relative;
    top: 70px;
    font-size: 25px;
}

.discover{
    width: 15%;
    height: auto;
    margin-top: 5%;
    margin-left: 8%;
}

.debit1{
    margin-left: 5%;
}

.numberBar{
    font-size: 28px;
    outline: none;
}

.number1{
    margin-top: 17%;
    margin-left: 5%;
}

.expiration1{
    margin-top: 7%;
    margin-left: 5%;
}

.expBar{
    outline: none;
}

.securityCode{
    margin-top: 7%;
    margin-left: 5%;
}

.secu{
    outline: none;
}

.button2{
    font-size: 40px;
    border: 1px solid blue;
    border-radius: 100px 100px;
    padding: 20px 40px;
    background-color: blue;
    color: white;
    margin: 0% 0% 0% 32%;
    position: relative;
    top: 40px;
    transition: 0.3s;
}

.button2:link{
    text-decoration: none;
}

.button1:hover{
    background-color: purple;
    border-color: purple;
    transition: 0.3s;
}

.button2:hover{
    background-color: purple;
    border-color: purple;
    transition: 0.3s;
}

.java1{
    margin-top: 30%;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
}

.java2{
    margin-top: 10%;
    text-align: center;
}

.section2{
    border: 2px solid rgb(192, 192, 192);
    border-radius: 50px 50px;
    width: 1450px;
    height: 400px;
    margin: 1%;
}

.payTip{
    font-size: 35px;
    text-decoration: underline;
    margin-left: 5%;
    margin-top: 3%;
}

.tipInfo{
    font-size: 20px;
    margin-top: 2%;
    margin-left: 5%;
    line-height: 1.5;
}

.tipFormat{
    justify-content: space-evenly;
    margin-left: 25%;
    margin-top: 5%;
    font-size: 25px;
}

.tipTitle{
    margin-top: 8%;
    margin-left: 5%;
    display: inline-flex;
}

.tipAmount{
    font-size: 25px;
    outline: none;
}